.divsimp{
    justify-content: center;
}
.footer-div{
    justify-content: space-around;
    /* flex-direction: row; */
}
.footer{
 margin-bottom: 0px !important;
}
.layout{
    height: 100vh !important;
    max-width: 100vw !important;
}
.carousel{
    width: 100vw !important;
}
.left-se{
    text-align: left !important;
    align-items: start;
}
.img-proudct{
    object-fit: contain !important;
}
.product-name {
    height: 3rem; /* Adjust this height as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Show maximum of 2 lines */
    -webkit-box-orient: vertical;
  }
  
  /* Custom CSS for Navbar */
@media (min-width: 768px) {
    .navbar-desktop {
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
    .navbar-mobile {
      display: none !important;
    }
    .navbar-link {
      margin: 0 1rem;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-desktop {
      display: none !important;
    }
    .navbar-mobile {
      display: flex !important;
      justify-content: center;
    }
    .navbar-mobile-link {
      margin: 0 0.5rem;
    }
  }
    /* Define the CSS class in your stylesheet */
.hide-on-small-screens {
  display: block;
}

/* Hide the element on screens smaller than 600px */
@media (max-width: 600px) {
  .hide-on-small-screens {
    display: none;
  }
}


.button-primary, .button-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.button-primary {
  background-color: #ec4899; /* Pink color */
  color: white;
  border-color: #ec4899;
}

.button-primary:hover {
  background-color: #db2777; /* Darker pink */
}

.button-secondary {
  background-color: white;
  color: #ef4444; /* Red color */
  border-color: #ef4444;
}

.button-secondary:hover {
  background-color: #fef2f2; /* Light red background */
  color: #dc2626; /* Darker red */
}

@media (min-width: 640px) {
  .button-primary, .button-secondary {
    width: auto;
  }
}
.p-4{
  gap: 0;
}
/* .img-main-product{
  min-height: 400px !important;
} */
.navbar {
  /* color: #db2777 !important; */
  /* background-color: rgba(255, 0, 162, 0.1); */
  /* backdrop-filter: blur(100px) !important; */
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100vw;
  height: 60px; /* Set the height of the navbar */
}

/* Apply top padding or margin to the main content */

