.divsimp{
    justify-content: center;
}
.footer-div{
    justify-content: space-around;
    /* flex-direction: row; */
}
.footer{
 margin-bottom: 0px !important;
}
.layout{
    height: 100vh !important;
    max-width: 100vw !important;
}
.carousel{
    width: 100vw !important;
}
.left-se{
    text-align: left !important;
    align-items: start;
}
.img-proudct{
    object-fit: contain !important;
}